.contact__container {
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.contact__container-item1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__container-item1 img {
    width: 8rem;
    height: auto;
}

.contact__container-item1 p {
    opacity: 0.7;
    font-size: 0.8rem;
}

.contact__container-item1-icon {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
}

.contact__container-item1-icon i:nth-child(4) {
    color: #FD4C5C;
}

.contact__container-item2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__container-item2 h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.contact__container-item2 p {
    opacity: 0.7;
    font-size: 0.8rem;
}

.contact__container-item4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__container-item4 h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.contact__container-item4 p {
    font-size: 0.8rem;
    opacity: 0.7;
}

.contact__container-item4-icon {
    display: flex;
    gap: 0.5rem;
}

.contact__container-item4-icon i {
    font-size: 0.9rem;
    color: #FD4C5C;
}

@media (min-width:0) and (max-width:480px) {
    .contact__container {
        width: 90%;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 2rem;
        padding-top: 4rem;
    }
}