

/*  service detials  */

/*
1. style.css
2. reset.css
3. home.css
4. header.css
5. service.css
6. store.css
7. contact.css
8. footer.css
*/



@import url(../css/reset.css);
@import url(../css/home.css);
@import url(../css/header.css);
@import url(../css/service.css);
@import url(../css/store.css);
@import url(../css/contact.css);
@import url(../css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto:wght@100;300;400;500&display=swap');


html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #000000;
}


@media (min-width:0) and (max-width:480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width:481px) and (max-width:820px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:1380px) and (max-width:1500px) {
    html {
        font-size: 18px;
    }
}

@media (min-width:1501px) {
    html {
        font-size: 20px;
    }
}